.h1 {
  margin: 0;
}

.join_dis {
  margin-bottom: 29px;
  margin-top: 19px;
  
}

.buttom-group{
  width: 100%;
  overflow: auto;
}

.AboutMe h2 {
  font-size: 8rem;
  font-family: 'Noto Sans', sans-serif;
}

p {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 300;
}

.Myinfo {
  text-align: left;
  margin-left: 10vh;
}

.Myinfo p {
  width: 70%;
}


/* main targer */

@media (max-width: 570px) {
  .Myinfo p {
    width: 100%;
  }
  .AboutMe h2 {
    font-size: 4rem;
  }
  .register {
    margin-left: 0;
    margin-top: 3vh;
  }
  .Myinfo {
    text-align: center;
    margin-left: 0;
  }
  .Myinfo p {
    font-size: 1.9rem;
  }
  .AboutMe {
    text-align: center;
  }
}

@media (max-width: 330px) {
  .register {
    margin-left: 0;
    margin-top: 3vh;
  }
  .AboutMe h1 {
    font-size: 2.2em;
  }
  .Myinfo p {
    font-size: 1.6rem;
  }
}