.Logo{
    width: 60%;
    /* background-color: black; */
    display: inline-block;
    position: relative;
}
.LogoSectionAbout{
    text-align: left;
    width: 80%;
    display: inline-block;
    position: relative;
    font-family: 'Nunito', sans-serif;
}
.LogoSectionAbout h1{
    font-weight: 700;
    text-align: left;
}


.Logo{

    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 2s infinite  alternate;
   }
   @-webkit-keyframes mover {
     0% { transform: translateY(0); }
     100% { transform: translateY(-10px); }
   }
   @keyframes mover {
     0% { transform: translateY(0); }
     100% { transform: translateY(-10px); }
   }