.SectionCamping {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1400px;
}

.imgContainer {
  display: flex;

  justify-content: center;
  align-items: center;
}

.campingImg {
  width: 100%;
  margin-bottom: 20px;
}

.camping_description_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.campingDescription {
  font-size: 3rem;
  text-align: start;
  font-weight: 500;
  font-family: 'Nunito', sans-serif;
  color: #fff;
}

@media (max-width: 1000px) {
  .campingDescription {
    font-size: 1.5rem;
  }
  .imgContainer {
    flex-direction: column;
  }
}
