.SectionCamping {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
}

.imgContainer {
  width: 100%;
  height: auto;
}

.campingImg {
  width: 100% !important;
  max-width: 100% !important;
  height: auto !important;
}

.camping_description_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.campingDescription {
  font-size: 3rem;
  text-align: start;
  font-weight: 500;
  font-family: 'Nunito', sans-serif;
  color: #fff;
}

@media (max-width: 1050px) {
  .SectionCamping {
    flex-direction: column;
    gap: 2rem;
  }
  .camping_description_wrapper p {
    text-align: center;
    font-size: 1.5rem;
  }
}
