.SectionEnterprise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}

.topicList {
  margin-top: 50px;
}

.topicRow {
  max-width: 700px;
  align-items: center;
}

.topicItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.topicText {
  margin: 0;
  margin-left: 1.5rem;
  text-align: left;
}

.link {
  color: #b2c732;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 1em;

  &:hover {
    color: #b2c732;
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .topicRow {
    flex-direction: column;
    gap: 2rem;
  }

  .topicText {
    text-align: center;
    margin-left: 0;
  }
}
