.SectionEnterprise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}

.topicList {
  margin-top: 50px;
}

.topicRow {
  max-width: 700px;
}

.topicItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.topicText {
  margin-left: 1.5rem;
}

.link {
  color: #b2c732;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 1em;
}
