// Home
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');
.Whole_div {
  background-repeat: repeat;
  background-size: auto 100vh;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}
.mediaInfo {
  margin-top: 10vh;
  background-size: auto 100vh;
}
.black_section {
  background-color: #010101;
  padding-bottom: 8rem;
}

.black_section.no-pb {
  padding-bottom: 0;
}

.yellow_section {
  background-color: #b4ff00;
  padding-bottom: 5rem;
}

.grey_section {
  background-color: #151515;
  color: #fff;
  padding-bottom: 5rem;
}

.grey_white_section {
  background-color: #1a1a1a;
  color: #fff;
}

.white_section {
  color: #000;
}

.mentorsSection {
  padding: 0;
  margin: 0;
  margin-top: 10vh;
}

.suportersSection {
  padding: 0;
  margin: 0;
  margin-top: 10vh;
}

.limiter {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-size: 5rem;
}
.Row {
  text-align: center;
}

.info {
  margin-top: 10vh;
  color: white;
}

.info2 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: white;
}

.topLogoCol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-image img {
  width: 100%;
  position: relative;
  transition: 0.3s;
  top: 0px;
  transition: top 0.2s linear;
}
.d-image img:hover {
  opacity: 0.9;
  top: 10px;
}
.logoSection {
  padding: 10vh 10vh;
  margin-bottom: 2vh;
}

.agendaSection {
  margin-top: 10vh;
}

.members {
  padding: 0vh 10vh 0 10vh;
}
.activitiesection {
  text-align: center;
  flex-direction: column;
  padding: 0 4vh 24px 4vh;
  margin: 17vh 0vh 0 0vh;
  border-radius: 16px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: #b4ff00;
}

.Activities {
  width: 100%;
}

.sponsorSection {
  flex-direction: column;
  padding: 17vh 18vh 0 18vh;
  margin-top: -10vh;
  margin-top: 0vh;
}
.faqsSection {
  text-align: center;
  margin: 0 auto;
  padding: 17vh 18vh 0 18vh;
  margin-top: -16vh;
}

.lime-link {
  color: #b4f000;

  &:hover {
    color: #b4f000;
  }
}

@media (max-width: 570px) {
  .mediaInfo {
    margin-top: 0;
  }
  .Whole_div {
    background-size: auto 100vh;
  }

  .faqsSection {
    padding: 0;
    margin-top: 0vh;
  }
  .members {
    margin: 0;
    padding: 0;
  }

  .activitiesection {
    padding: 24px 5vh 24px 5vh;
  }
  .sponsorSection {
    padding: 0;
    margin: 0;
    margin: 12rem auto;
  }

  .logoSection {
    text-align: center;
    padding: 10vh 0 0 0;
  }
}

.topLogoContainer {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 2s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media (max-width: 768px) {
  .reverseRow {
    text-align: center;
    flex-direction: column-reverse;
  }
}

@media (max-width: 570px) {
  .logoS {
    margin-top: 10rem;
    margin-bottom: -10rem;
  }
  .Logo {
    margin: 0 auto;
  }
}

@media (max-width: 570px) {
  .logoS {
    margin-top: 10rem;
    margin-bottom: -10rem;
    /* background-color: black; */
  }
  .Logo {
    margin: 0 auto;
  }
}
