// Prizes
.Prizes {
  width: 32rem;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  margin-top: 1.7rem;
}

.PrizeHeading {
  width: 100%;
}

.PrizeHeading h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
}

.Prizes p {
  color: rgb(145, 143, 143);
}
.Prizes {
  color: #010101;
}
