.subscriptionClosedSection {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    color: rgb(255, 255, 255, 0.75);
  }

  .formTitle {
    h3 {
      color: white;
      font-size: 4rem;
    }
  }

  .formBtn {
    color: rgb(255, 255, 255, 0.75) !important;
    border: 2px solid rgb(255, 255, 255, 0.75);
  }

  .form-horizontal {
    height: unset;
  }

  .formSection {
    width: 100%;
    margin-top: 6rem;
    height: unset;

    .form-control {
      color: rgb(255, 255, 255, 0.75);
      border-bottom: 2px solid rgb(255, 255, 255, 0.75) !important;
    }
  }

  .alert-container {
    h3 {
      font-size: 4rem;
    }
  }
}