h1{
    text-align: center;
    font-size: 5rem;
}
 .Row{
     text-align: center;
 }

.info{
    margin-top: 20vh;
}

.logoSection{
    text-align: center;
    padding: 20vh 10vh 0 10vh ;
    margin-top: 3vh;
    margin-bottom: 3vh;

}
.members{
    padding: 0vh 10vh 0 10vh ;

}

.prizesection{
    text-align: center;
    margin: 0 auto;
    padding: 0 4vh 0 4vh ;
    margin: 17vh 14vh 0 14vh ;
border-radius: 32px;
    margin-top: 4vh;
    background-color: rgb(246, 246, 246);


}
.sponsorSection{
    padding: 17vh 18vh 0 18vh ;
    margin-top: -10vh;
    margin-top: 0vh;

}


.faqsSection{
    text-align: center;
    margin: 0 auto;
    padding: 17vh 18vh 0 18vh ;
    margin-top: -16vh;


}

@media  (max-width: 570px){
    .faqsSection{
        padding: 0 ;
    margin-top: 0vh;

    
    }
    .members{
        margin: 0;
        padding: 0;
    }
    
    .prizesection{
        margin:5vh 0 0 0;
        padding: 17vh 0 0 0 ;
    
    }
    .sponsorSection{
       
        padding: 0;
        margin: 0;
        margin: 0 auto;
    }
    .logoSection{
        text-align: center;
        padding: 20vh 0vh 0 0vh ;
        /* background-color: white; */
    }
  }

