
.Row{
    margin-top: 15vh;
    text-align: center;
}



.logoSection{
    text-align: center;
    padding: 20vh 10vh 0 10vh ;
    /* background-color: white; */
}


.prizesection{
    text-align: center;
    margin: 0 auto;
    padding: 17vh 18vh 0 18vh ;
    

}


@media  (max-width: 570px){
    .prizesection{

        padding: 17vh 0 0 0 ;
    
    }
    .logoSection{
        text-align: center;
        padding: 20vh 0vh 0 0vh ;
        /* background-color: white; */
    }
  }

