/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');

.h1{
    margin: 0;
  }

button{
  width: 22rem;
  height: 6rem;
  border: none;
  background-color: #00EAD3;
  border-radius: 12px;
  font-size: 2rem;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  position: relative;
}
.register{
  margin-left: 9rem;
}
.AboutMe {
  font-family: 'Nunito', sans-serif;
}
.AboutMe h1{
  font-weight: 600;
}
p{ 
  font-size: 2rem;
  line-height: 1.6;
  font-family: 'Nunito', sans-serif;

}
.Myinfo p{
  width: 50%;
  margin: 0 auto;
}


  /* Over lay effect */
  .overlay {
      position: absolute;
      bottom: 0;
      left: 100%;
      right: 0;
      background-color:white;
      overflow: hidden;
      width: 0;
      height: 100%;
      transition: .3s ease;
      border-radius: 12px;
  
    }
  
    .overlay-text {
      font-weight: 300;
      color:#2C4677;
      font-size: 17px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }
  
    button:hover .overlay {
      width: 100%;
      left: 0;
    }  
  /* main targer */
    @media  (max-width: 570px){
      .Myinfo p{
        width: 100%;
        margin: 0 auto;
      }
    .register{
      margin-left: 0;
      margin-top: 3vh;
    }
    .Myinfo{
      text-align: center;
    }
    .Myinfo p{
      font-size: 1.9rem;
    }
    .AboutMe{
      text-align: center;
    }
  }
  
    /* more smaller */
    @media  (max-width: 330px){
    
    .register{
      margin-left: 0;
      margin-top: 3vh;
    }
    .AboutMe h1{
      font-size: 2.2em;
    }
    .Myinfo p{
      font-size: 1.6rem;
    }
  }


