@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
 nav {
    list-style-type: none;
    /* background-color:#FFD1D1; */
     /* background-color: #7785FF; */

background: linear-gradient(90deg, #F5AF88 0%, rgba(255, 126, 126, 0.8) 50%, #FFD1AF 100%);
    height: 7vh;
    font-size: 1.8rem;
    /* box-shadow: 0px 7px 15px 4px rgba(255, 229, 229, 0.85); */
    /* box-shadow: 0px 12px 12px 8px #7785FF; */
    box-shadow: 0px 7px 12px rgba(255, 193, 149, 0.8);
}
ul{
    /* background-color: blue; */
    display: inline;
    margin-left: 7%;
    
}
nav ul li{
    display: inline-block;
    margin: 2rem 0 5rem 6rem;

}
.links{
    color:black;
    transition: 0.5s;
}
.links:hover{
    color: rgb(122, 122, 122);
}
a:link {
    text-decoration: none;

  }


@media  (max-width: 600px){
    ul{
       text-align: center;
        
    }
    nav ul li{
        margin: 2rem 1rem 0 1rem;

    
    }
}

@media  (max-width: 380px){
    nav ul li{
        margin: 1.9rem 0rem 0 1rem;

    
    }
}
@media  (max-width: 370px){
    nav{
        font-size: 1.6rem;
    }
    nav ul li{
        margin: 1.9rem 0rem 0 2.5rem;
    }
    ul{
        margin-left: -3%;
        
    }
}
