@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
 nav {
    list-style-type: none;
    background-color: #CAF7E3;
    // background: #3D3D75;
    height: 7vh;
    font-size: 1.8rem;
    position: fixed;
    width: 100%;
    z-index: 10000;
    // box-shadow: 0px 4px 4px rgba(202, 247, 227, 0.89);
}

ul{
    display: inline;
    margin-left: 7%;
    
}
nav ul li{
    display: inline-block;
    margin: 2rem 0 5rem 6rem;

}

.links{
    color:black;
    transition: 0.5s;
}

.links:hover{
    color: rgb(122, 122, 122);
}
a:link {
    text-decoration: none;

  }


@media  (max-width: 600px){
    ul{
       text-align: center;
       margin-right: 6rem;
       margin-left: 0%;
    }
    nav ul li{
        margin: 2rem 1rem 0 1rem;

    
    }
    nav{
        height: 8.5vh;
    }
}

@media  (max-width: 380px){
    nav ul{
    }
}
@media  (max-width: 370px){
    nav{
        font-size: 1.6rem;
    }
    nav ul li{
        display: block;
        text-align: left;
        background-color:#FFD1D1;
        margin: 0;
        padding: 2vh;
        z-index: 5000;
    }
nav ul{
    display:none;
}
}
