@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
 nav {
    list-style-type: none;
    background-color:#FFD1D1;
    height: 7vh;
    font-size: 1.8rem;
    box-shadow: 0px 7px 15px 4px rgba(255, 229, 229, 0.85);

}
ul{
    /* background-color: blue; */
    display: inline;
    margin-left: 7%;
    
}
nav ul li{
    display: inline-block;
    margin: 2rem 0 5rem 6rem;

}
.links{
    color:black;
    transition: 0.5s;
}
.links:hover{
    color: rgb(122, 122, 122);
}
a:link {
    text-decoration: none;

  }


@media  (max-width: 600px){
    ul{
       text-align: center;
        
    }
    nav ul li{
        margin: 2rem 1rem 0 1rem;

    
    }
    nav{
        height: 8.5vh;
    }
}

@media  (max-width: 380px){
    nav ul li{
        margin: 1.9rem 0rem 0 1rem;

    
    }
}


/* Making navbar components into a rigid list */
@media  (max-width: 370px){
    nav{
        font-size: 1.6rem;
    }
    nav ul li{
        display: block;
        text-align: left;
        background-color:#FFD1D1;
        margin: 0;
        padding: 2vh;
        z-index: 5000;
    }
nav ul{
    display:none;
}
}
