.media{

}
.media img{
    display: block;
    margin: 0 auto;

}
.single{
    display: inline-block;
}
.single img {
    width: 10rem;
    margin-left: 20px;
    margin-right: 20px;
}


@media (max-width:570px){
    .single{
        display: inline-block;
    }
    .single img {
        width: 70%;
        margin-top: 120px;
        margin-left: 8px;
        margin-right:8px ;
    }
}

