.social-icons-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.social-icon {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.footer {
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer p{
  font-weight: 500;
  font-size: 1.5rem;
  color:white;
}
.footer a{
  color: aliceblue;
}
.footer img {
  width: 70%;
}
.footer_info{
  padding: 20px 0;
  background-color: rgb(32, 32, 32);
}
.Register_a{
  padding: 70px 0;
  background-color: #121930;
}
.Register_a a{
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 570px) {
  .Register_a a{
    margin-left: 0;
    margin-right:0;
  }
  .Volunteer{
    margin-top: 15px;
  }
  .social-icon {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.privacy-policy,
.terms-of-use {
  font-size: 1.2vh;
  font-weight: 400;
  text-decoration: underline;
}
