.counter{
    display: block;
    background-color: white;
    color: black;
    width: fit-content;
    height: fit-content;
    padding: 0px 30px;
    border-radius: 8px;
    text-align: center;
    margin: 30px 0;
  border: 1px solid rgb(255, 194, 252);
  font-weight: 300;
}
.counter p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: inline-block;
}
@media  (max-width: 570px){
.counter{
  margin: 30px auto;
}
}